<!DOCTYPE html>
<html lang="en">
 <head>
    <meta name="viewport" content="width=device width ,  initial-scale=1.0">
    <meta charset="UTF-8">
    
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 </head>   
<body>

   
    <section class="banner" id="home">
        <div class="textBx">
            <h2>Hello ,We are<br><span> Fleet Management System</span></h2>
          
            <a href="#about" class="btn">About us</a>
        </div>
    </section>
    <section class="about" id="about">
        <div class="heading">
            <h2>About Us</h2>
        </div>
        <div class="content">
            <div class="contentBx w50">
                <h3>Fleet Management</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore saepe impedit ad vitae similique quas qui nostrum dolore ea optio odio incidunt rem possimus, ab sed odit excepturi doloremque deserunt!<br> <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptates natus similique voluptate sit veniam unde doloribus tempora ea facere, aspernatur voluptatibus eaque at provident quis modi tenetur laudantium sequi.</p>
            </div>
            <div class="w50">
               <img src="../../assets/img/img3.png" width="700px" height="200px">
            </div>
        </div>
    </section>
    <section class="services" id="services">
        <div class="heading white">
            <h2>Our Services</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis a eos provident, labore corporis, quod consequatur esse corrupti nam, error quis possimus!</p>
        </div> 
        <div class="content">
            <div class="servicesBx">
                
                <h2>Vehicle Tracking</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea saepe ad architecto unde voluptas.</p>
            </div>
            <div class="servicesBx">
               
                <h2>Vehicle Services</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea saepe ad architecto unde voluptas. </p>
            </div>
            <div class="servicesBx">
             
                <h2>Fleet Management</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea saepe ad architecto unde voluptas..</p>
            </div>
            <div class="servicesBx">
               
                <h2>Alarms and systems</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea saepe ad architecto unde voluptas.</p>
            </div>
            
            <div class="servicesBx">
               
                <h2>Testing and planning</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea saepe ad architecto unde voluptas.</p>
            </div>

        </div>
    </section>

    <section class="work" id="work">
        <div class="heading">
            <h2>Our Latest Work</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis a eos provident, labore corporis, quod consequatur esse corrupti nam, error quis possimus!</p>
        </div> 
        <div class="content">
            <div class="workBx">
                <img src="../../assets//img/img4.jpg">
            </div>   
            <div class="workBx">
                <img src="../../assets//img/img5.jpg" height="457x">
            </div>    
             

        </div>
        <div class="heading">
            <a href="#" class="btn">Go up</a>
        </div>
    </section>

    <section class="testimonial" id="testimonial">
        <div class="heading">
            <h2>Testimonial</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis a eos provident, labore corporis, quod consequatur esse corrupti nam, error quis possimus!</p>
        </div> 
        <div class="content">
            <div class="testimonialBx">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam ullam corrupti voluptatibus officiis harum, et modi eos? Ut, aut commodi eum eaque doloribus, laboriosam tempora non ipsam neque, error expedita!</p>
                <h3>Mosh<br><span>Software Engineer</span></h3>
            </div>
            <div class="testimonialBx">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam ullam corrupti voluptatibus officiis harum, et modi eos? Ut, aut commodi eum eaque doloribus, laboriosam tempora non ipsam neque, error expedita!</p>
                <h3>John<br><span>Designer</span></h3>
            </div>
        </div>
    </section>

    <section class="contact" id="Contact">
        <div class="heading white">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis a eos provident, labore corporis, quod consequatur esse corrupti nam, error quis possimus!</p>
        </div> 
        <div class="content">
            <div class="contactInfo">
                <h3>Contact Info</h3>
                <div class="contactInfoBx">
                   <div class="box">
                     <div class="icon">
                         <i class="fa fa-map-marker "></i>
                     </div>
                       <div class="text">
                          <h3>Address</h3>
                          <p>Street Feti Gjilani <br>Tirane Albania</p>
                       </div>
                    </div>
                    <div class="box">
                     <div class="icon">
                        <i class="fa fa-phone"></i>
                     </div>
                       <div class="text">
                          <h3>Phone</h3>
                          <p>0693388694</p>
                       </div>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-envelope-o "></i>
                        </div>
                          <div class="text">
                             <h3>Email</h3>
                             <p>rayonit@gmail.com</p>
                          </div>
                       </div>

                </div>

            </div>
            <div class="formBx">
                <form>
                    <h3>Contact Us</h3>
                    <input type="text" name="" placeholder="Full Name">
                    <input type="email" name="" placeholder="Email">
                    <textarea placeholder="Your message"></textarea>
                    <input type="submit" value="Send">
                </form>

            </div>
        </div>



    </section>
